/*
 * MINIMAL CSS RESET
 */

 html,
 body,
 ol,
 ul,
 li,
 table,
 thead,
 tbody,
 tfoot,
 tr,
 th,
 td,
 pre,
 h1,
 h2,
 h3,
 h4,
 div,
 span,
 p {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
 }

 table {
   border-collapse: collapse;
   border-spacing: 0;
 }

 input,
 textarea,
 button {
   background: none;
   border: 0;
 }

 input:focus,
 textarea:focus,
 button:focus {
   outline: none;
 }

 /*
  * GLOBAL STYLES
  */

 /* html,
 body {
   background-color: #111;
 } */

 /*
  * CSS3 ANIMATIONS
  */
 @keyframes fadein {
   from {
     opacity: 0;
   }
   to {
     opacity: 1;
   }
 }

 .button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.board {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  background-color: chocolate;
}
button2 {
  width: 60px;
  height: 60px;
  font-size: 30px;
}

.tile {
  display: block;
  background-color: burlywood;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 40px;
  border: solid 1px black;
  float: left;
  cursor: pointer;
}

centertile {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}